.logo{
    width: 10%;
}

.logo-background{
    background-color: #282828;
}

.logo-border{
    border: 1px;
    border-style: solid;
    border-color: #98989889;
}

.background-wood1{
    background-image: url("../img/background/wood1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.background-body{
    background-image: url("../img/background/bodyWood.jpg");
}